<h1>The Art Store</h1>

<p>
Dear <%= @order.name %>,
</p>
<p>
  We are writing to let you know that we have shipped your order, and that you should be expecting it soon.
</p>


<p>Thank you very much for your business, and we hope to see you soon.</p>
</br>
<p>The Art Store</p>
