/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#logo {
  border-bottom: 1px solid #f3f3f4;
  padding-bottom: 75px;
  padding-left: 24px;
  padding-top: 8px;
  
  text-align: center;
  font: small-caps 40px "Times";

  img {
   	float: left;
    padding-left: 80px;
  }
}

#notice {

  border: 2px solid black;			
  padding: 5px;
  margin-bottom: 5px;

}
/*	#row {
		position: absolute;
		bottom: 463px;
		right: 250px;
		 font-weight: bold;
		 a:link{text-decoration: none;}
		 a:hover{background-color: orange;
		 	color:black;}
}*/

#row{
ul {
    float:  center;
    width: 100%;
    padding: 0;
    margin: 0;
    /*list-style-type: none;*/
}

a {
    float: left;
    width: 14.12em;
    text-decoration: none;
    color: #3a3a3a;
    background-color: #f3f3f4;
    padding: 0.4em 0.6em;
    /*border-right: 1px solid white;*/
    font-weight: bold;
}

a:hover{
	background-color: #f3f3f4;
		 	color:#db9229;
		 }

li {
    display: inline;
}

}
  

#columns {
  background: #f3f3f4;

  #main {
    margin-left: 17em;
    padding: 3em;
    background: white;
  }


  #side {
    float: left;
    padding: 1em 2em;
    width: 13em;
    background: #f3f3f4;

    form, div {
      display: inline;
    }
    input {
      font-size: small
    }
    #cart {
      font-size: smaller;
      /*color: white;*/
      
      table {
        border-top: 1px dotted #db9229;
        border-bottom: 1px dotted #db9229;
        margin-bottom: 10px;
      }
    }


	
    ul {
      padding: 0;
      li {
        list-style: none;
      }

    }
  }
}

