// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.products {

  .image {
    height: 200px;
    width:  250px;
  }
  .category {
   font-weight:  bold;
  }
   .seperate{
        margin: 5px; 
        width:50%; 
        border-bottom: 1px dotted #000
 }

/* .image-descr{
   height: 200px;
    width:  250px;
 }*/
 .description{
  width: 60%;
  padding-left: 20px;
 }
 #notice {
  color: green;
}

}
